body{
    background:linear-gradient(to top,#733083,rgb(11, 201, 182));
}
body h1{
    padding-top: 50px;
    text-align: center;
    color: #ffaaaa;
    font-size: 70;
}
body ul #titles{
    justify-content: center;
    display: flex;

}
body #titles li{
    text-transform: uppercase;
    color: #99DD9B;
    list-style: none;
    margin-left:150 ;
    padding-right:100 ;

}
body ul{
    display: flex;
    justify-content: center;
    margin-right: 100px;

}
body ul li{
    
    list-style:none;
    margin-left: 70px;
    padding-top: 100px;
}
body ul li img{
    width: 35vh;
    height: 35vh;
}